.cards-container {
    display: flex; 
    padding: 30px 50px;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    /* border: 1px solid red; */
}

.card {
    border-radius: 5px;
    overflow: visible;
    width: 190px;
    height: 304px;
    cursor: pointer;
}

.content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0 0 10px 1px #000000ee;
    border-radius: 5px;
}

.front,
.back {
    background: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
}

.back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.back::before {
    position: absolute;
    content: '';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #12dde4, #001aff, #8a1cf1, #ff02ff, transparent);
    animation: rotation_481 5500ms infinite linear;
}

.back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background: #151515;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card:hover .content {
    transform: rotateY(180deg);
}

@keyframes rotation_481 {
    0% {
        transform: rotateZ(0deg);
    }

    0% { transform: rotateZ(360deg);
    }
}

.front {
    transform: rotateY(180deg);
    color: #fff;
}

.front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.front-content .badge {
    background: #00000055;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
    font-size: 12px;
}

.description {
    box-shadow: 0 0 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    background: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.title {
    font-size: 14px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.title p {
    width: 50%;
}

.front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.description .addToCart-container .addToCartBtn {
    background: #0bb10b;
    color: #fff;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px; 
    cursor: pointer;
    border: none;
    outline: none;
    transition: .2s;
}

.description .addToCart-container .addToCartBtn:hover {
    background: #087a08;
    transition: .2s;
}

.addToCartBtn .btn-img {
    height: 20px;
}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #8b8b8b;
    position: relative;
    filter: blur(15px);
    animation: floating 2600ms infinite linear;
}

#bottom {
    background: #dfdfdf;
    left: 50px;
    top: 0px;
    width: 150px;
    height: 150px;
    animation-delay: -800ms;
}

#right {
    background: #879fa5;
    left: 160px;
    top: -80px;
    width: 30px;
    height: 30px;
    animation-delay: -1800ms;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card-footer {
    font-size: 10px;
}