.login-form-container {
    width: 50%;
    /* height: 350px; */
    padding: 1rem 1rem 2rem 1rem;
    margin: 12rem auto;
    
    background: #fff;

}

.form-layout {
    padding: 10px;
    /* border: 1px red solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.welcome-title {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.img-holder,
.fields {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px blue solid; */
}

.fields input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
    color: #000;
    padding: 5px 10px;
}



.submit-btn {
    background: #fff;
    color: #000;
    border: 2px solid #000;
    transform: skew(-21deg);
    transition: .5s;
    padding: 10px 20px;
    text-transform: uppercases;
    display: inline-block;
    cursor: pointer;
}

.fields .btn span {
    display: inline-block;
    transform: skew(21deg);
}

.submit-btn::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: #000;
    opacity: 0;
    z-index: -1;
    transition: all .5s;
}

.submit-btn:hover {
    color: #fff;
}

.submit-btn:hover::before {
    right: 0;
    left: 0;
    opacity: 1;
}

.register-link {
    font-size: 14px;
    width: 100%;
}

.register-link .redirect {
    color: #000;
    text-decoration: none;
}

.register-link .redirect:hover {
    text-decoration: underline;
}



